* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    /* text-rendering: optimizeLegibility; */
}

main {
    background-image: url(img/pexels-felix-mittermeier-957040.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100%;
}

.text-box {
    position: absolute;
    max-width: 1140px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 900%;
    font-weight: 900;
    /* text-transform: uppercase; */
    letter-spacing: 10px;
    text-align: center;
}

p {
    margin: 0;
    color: #fff;
    /* font-size: 80%; */
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 700;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 80%;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 100px;
    /* margin-right: 10px; */
    text-align: center;
}

.btn-first {
    background-color: #fff;
    color: #f00;
    text-transform: uppercase;
    margin-right: 10px;
    border: 1px solid red;
    transition: 0.3s all;
}

.btn-first:hover {
    background: green;
    color: #fff;
    border: 1px solid #fff;
}

.btn-second {
    background-color: #f00;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    transition: 0.3s all;
}

.btn-second:hover {
    background: yellow;
    color: blue;
    border: 1px solid red;
}

.apacia {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.apacia a {
    margin: 0 25px;
    text-decoration: none;
    font-size: 65%;
    /* font-weight: 700; */
    transition: 0.3s all;
}

.apacia a:hover {
    color: red;
}

.fa {
    color: #fff;
}